.pagination
  margin: 80px 0
  display: flex

.pagination__prev, .pagination__next
  flex: 1
  color: $primary-color
  font-weight: bold
  font-size: 20px
  text-decoration: none
  padding: 10px 0

  &:hover
    border-bottom: 1px solid $primary-color

.pagination__next
  text-align: right
