<!DOCTYPE html>
<html>
  <head>
    <title><%= title  %></title>
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <%- contents %>
  </body>
</html>

